body {
  margin: 0;
  font-family:'Agency FB';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mouse{
  animation: mouse 2s infinite ease;
}

@keyframes mouse{
  from {transform: translateY(-50px);}
  to {transform: translateY(0);}
}